body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-gap: 10px;
}

main {
    width: 100%; 
}

footer {
    text-align: center;
}

nav {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    background-color: white;
}

.nav-content {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin: 0px 50px 0px 50px;
    max-height: 80px;
}

.navlogo a {
    text-decoration: none;
    font-weight: normal;
    font-size: 35px;
    color: black;
}

.navitems {
    display: flex;
    justify-content: flex-end;
}

.navitem {
    list-style: none;
    position: sticky;
    right: 0;
    top: 0;
    font-size: 18px;
}

.navitem a {
        text-align: center;
        text-decoration: none;
        padding: 20px;
        color: #555555;
}

.navitem a:hover {
    color: #000;
}

.navitem a:active {
    color: #a2c0be;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/* #567876 */

.welcome {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 15px;
    margin-top: 150px;
}

.welcome-note {
    align-self: flex-start;
    justify-self: flex-start;
    margin: 50px;
    max-width: 425px;
}

.welcome-note h1 {
    font-size: 65px;
    margin-bottom: 0px;
    line-height: 1.2;
}

.welcome-note p {
    margin-top: 5px;
    font-size: 20px;
    font-weight: lighter;
    color: #6c757d;
}

.welcome-doggy {
    float: right;
    margin-right: 50px;
    max-height: 650px;
}

.welcome-pet-care {
    display: grid;
    width: 100%;
    justify-items: center;
    margin-bottom: 5%;
}

.pet-care-content {
    max-width: 600px;
    padding-top: 70px;
}

.pet-care-content h2 {
    font-size: 33px;
    margin-bottom: 10px;
    text-align: center;
}

.pet-care-content p {
    margin-top: 0px;
    font-size: 18px;
    color: #6c757d;
    text-align: center;
}

.pet-care-btn {
    background-color: #a2c0be;
    color: #fff;
    padding: 10px 32px 15px 32px;
    text-decoration: none;
    border-radius: 35px;
    font-size: 18px;
}

.pet-care-btn:hover {
    background-color: black;
}

.pet-care img {
    max-width: 525px;
}

.pet-care img:hover {
    box-shadow: 10px 10px #a2c0be;
    transition: box-shadow 0.5s ease-in-out;
}

.pet-care div {
    width: 100%;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.pet-care div h3 {
    font-size: 35px;
    font-weight:normal;
}

.pet-care div p {
    color: #6c757d;
    font-size: 19px;
}

.pet-care {
    max-width: 1000px;
}

.love-care-content {
    max-width: 600px;
    text-align: right;
}

.fearsome-content {
    max-width: 600px;
    text-align: left;
}

.beautiful-content {
    max-width: 600px;
    text-align: right;
}

.about-us {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 50px;
    align-items: center;
}

.about-us-content {
    margin-right: 90px;
    margin-left: 10px;
}

.about-us-media {
    margin-left: 30px;
}

.about-content-title {
    font-size: 33px;
}

.about-content-subtitle {
    font-size: 22px;
    color: #6c757d;
    font-weight: lighter;
}

.about-content-summary {
    font-weight: 400;
    font-size: 18px;
    color: #6c757d;
    line-height: 1.7;
}

.about-us-content ul {
    color: #6c757d;
    font-weight: 400;
    font-size: 18px;
}

.about-us-content ul li {
    padding-bottom: 15px;
}

.about-us-media img {
    max-height: 700px;
}

.trainers {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    background-color: #a2c0be;

}

.trainers-content {
    text-align: center;
    max-width: 600px;
}

.trainers-title {
    font-size: 33px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.trainers-summary {
    font-weight: 400;
    font-size: 18px;
    color: #6c757d;
    line-height: 1.7;
    margin-top: 10px;
    margin-bottom: 60px;
}
 
.trainer-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;
}

.individual-trainer {
    max-width: 350px;
    margin: 0px 15px 0px 15px;
}

.individual-trainer  img {
    max-width: 350px;
}

.individual-trainer img:hover {
    box-shadow: 10px 10px #000;
    transition: box-shadow 0.5s ease-in-out;
}

.individual-trainer h3 {
    font-weight: normal;
    font-size: 24px;
    color: #000;
}

.individual-trainer p {
    color: #6c757d;
    line-height: 1.5;
    font-size: 18px;
}