body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-gap: 10px;
}

main {
    width: 100%; 
}

footer {
    text-align: center;
}

nav {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    background-color: white;
}

.nav-content {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin: 0px 50px 0px 50px;
    max-height: 80px;
}

.navlogo a {
    text-decoration: none;
    font-weight: normal;
    font-size: 35px;
    color: black;
}

.navitems {
    display: flex;
    justify-content: flex-end;
}

.navitem {
    list-style: none;
    position: sticky;
    right: 0;
    top: 0;
    font-size: 18px;
}

.navitem a {
        text-align: center;
        text-decoration: none;
        padding: 20px;
        color: #555555;
}

.navitem a:hover {
    color: #000;
}

.navitem a:active {
    color: #a2c0be;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/* #567876 */

.welcome {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 15px;
    margin-top: 150px;
}

.welcome-note {
    align-self: flex-start;
    justify-self: flex-start;
    margin: 50px;
    max-width: 425px;
}

.welcome-note h1 {
    font-size: 65px;
    margin-bottom: 0px;
    line-height: 1.2;
}

.welcome-note p {
    margin-top: 5px;
    font-size: 20px;
    font-weight: lighter;
    color: #6c757d;
}

.welcome-doggy {
    float: right;
    margin-right: 50px;
    max-height: 650px;
}

.welcome-pet-care {
    margin-top: 50px;
    display: grid;
    width: 100%;
    justify-items: center;
}

.trainers-content, .pricing-content, .faq-content, .pet-care-content {
    text-align: center;
    max-width: 600px;
}

.trainers-title, .pricing-title, .faq-title, .pet-care-title {
    font-size: 33px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.trainers-summary, .pricing-summary, .faq-summary, .pet-care-summary {
    font-weight: 400;
    font-size: 18px;
    color: #6c757d;
    line-height: 1.7;
    margin-top: 10px;
    margin-bottom: 60px;
}

.pet-care-btn {
    background-color: #a2c0be;
    color: #fff;
    padding: 10px 32px 15px 32px;
    text-decoration: none;
    border-radius: 35px;
    font-size: 18px;
}

.pet-care-btn:hover {
    background-color: black;
}

.pet-care img {
    max-width: 525px;
}

.pet-care img:hover {
    box-shadow: 10px 10px #a2c0be;
    transition: box-shadow 0.5s ease-in-out;
}

.pet-care {
    width: 100%;
    padding-bottom: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.pet-care div {
    display: flex;
    padding: 0px 40px 10px 40px;
}

.pet-care-subtitle {
    font-size: 35px;
    font-weight:normal;
    margin-bottom: 0px;
}

.pet-care-details {
    margin-top: 5px;
    color: #6c757d;
    font-size: 18px;
    line-height: 28px;
}

.love-care-content, .beautiful-content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    text-align: right;
}

.fearsome-content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    text-align: left;
}

.about-us {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 100px 0px 100px 20px;
    align-items: center;
}

.about-us-content {
    margin-right: 80px;
    margin-left: 50px;
}

.about-content-title {
    font-size: 33px;
}

.about-content-subtitle {
    font-size: 22px;
    color: #6c757d;
    font-weight: lighter;
}

.about-content-summary {
    font-weight: 400;
    font-size: 18px;
    color: #6c757d;
    line-height: 1.7;
}

.about-us-content ul {
    color: #6c757d;
    font-weight: 400;
    font-size: 18px;
}

.about-us-content ul li {
    padding-bottom: 15px;
}

.about-us-media img {
    max-height: 700px;
}

.trainers {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    background-color: #a2c0be;

}

.trainer-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;
}

.individual-trainer {
    max-width: 350px;
    margin: 0px 15px 0px 15px;
}

.individual-trainer  img {
    max-width: 350px;
}

.individual-trainer img:hover {
    box-shadow: 10px 10px #000;
    transition: box-shadow 0.5s ease-in-out;
}

.individual-trainer h3 {
    font-weight: normal;
    font-size: 24px;
    color: #000;
}

.individual-trainer p {
    color: #6c757d;
    line-height: 1.5;
    font-size: 18px;
}

.trainer-social .fa {
    background-color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 10px;
    text-decoration: none;
    color: #000;
    text-align: center;
    margin-right: 10px;
}

.trainer-social .fa:hover {
    position: relative;
    top: -10px;
    transition:position 2s ease-in-out;    
}

.pricing {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
}

.pricing-table {
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: white;
}

.basic-pricing, .premium-pricing, .professional-pricing {
    display: grid;
    justify-items: center;
    padding: 40px;
}

.basic-pricing, .professional-pricing {
    background-color: #a2c0be;
}
.premium-pricing {
    background-color: #343a40;
}

.pricing-type {
    font-weight: normal;
    font-size: 1.75rem;
    padding-bottom: 0px;
    margin-top: 5px;
}

.pricing-price {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
}

.pricing-amount {
    font-size: 3.1rem;
    margin: 0px;
}
 
.pricing-period {
    font-size: 18px;
    margin-bottom: 10px;
}

.pricing-features {
    font-size: 17px;
    list-style: '✓';
}

.pricing-feature {
    line-height: 25px;
    padding-bottom: 20px;
}

.pricing-feature span {
    position: relative;
    left: 15px;
}

.pricing-btn {
    color: #fff;
    padding: 10px 30px 15px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.basic-pricing .pricing-btn, .professional-pricing .pricing-btn {
    background-color: #6c757d;
    border-color: #6c757d;
}

.basic-pricing .pricing-btn:hover, .professional-pricing .pricing-btn:hover {
    background-color: #343a40;
    transition: 0.2s ease-in-out;

}

.premium-pricing .pricing-btn {
    background-color: #a2c0be;
    border-color: #a2c0be;
}

.premium-pricing .pricing-btn:hover {
    background-color: black;
    transition: 0.2s ease-in-out;
}

.faq {
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    margin: 50px 0px 50px 0px;
    justify-items: center;
}

.faq-bottom-content {
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.faq-img {
    max-width: 525px;
}

footer {
    display: grid;
    background-color: #333333;
    align-items: center;
    width: 100%;
}

.shortcuts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
    justify-items: center;
    margin-bottom: 10px;
    padding: 100px;
}

.shortcut-heading {
        font-weight: normal;
        font-size: 16.5px;
        color: white;
}

.shortcut-summary {
    font-size: 16.5px;
    color: #737373;
    line-height: 28px;
}

.shortcut-list {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 40px;
}

.shortcut-list a {
    text-decoration: none;
    color: #999;
    font-size: 16.5px;
}

.footer-follow-us .fa {
    color: #737373;
    text-decoration: none;
    padding-right: 30px;
    padding-top: 10px;
    width: 20px;
    height: 20px;
}

.footer-newsletter form {
    height: 30px;
    padding-top: 10px;
}

.footer-newsletter-input {
    background-color: transparent;
    border: 1px solid #737373;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 12.5px;
    margin: 0px;
    width: 120px;
    font-size: 16px;
}

.footer-newsletter-btn {
    background-color: white;
    border: 1px solid white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100px;
    height: 45px;
    font-size: 16px;
    color: #333333;
    font-weight: 500;
}

.copyright {
    padding: 0px 50px 50px 50px;
}

.copyright p {
    color: #737373;
    margin: 50px;
    font-size: 14px;
}

.copyright hr {
    border-color: #737373;

}

.agency-link {
    text-decoration: none;
    color: grey;
}

.agency-link:hover {
    color: white;
}